@font-face {
  font-family: 'GastonDemo';
  src: url('../../public/fonts/gaston/GastonDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dream School';
  src: url('../../public/fonts/dream_school/Dream School.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dream School Rounded';
  src: url('../../public/fonts/dream_school/Dream School Rounded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kidtype';
  src: url('../../public/fonts/kidtype/Kidtype.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: black;
  height: 100vh;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(0, 128, 128, 0.4);
  background-repeat: repeat;
  background-size: 200px;
  user-select: none;
  background-image: url("../../public/fundo_bg.svg");
}

.start-screen h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
  padding: 16px;
  border-radius: 12px;
  letter-spacing: 8px;
}

.start-screen label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    padding: 16px;
    border-radius: 12px;
}

.start-screen select,
.start-screen input {
  margin-top: 8px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 200px;
  cursor: pointer;
}

.start-screen button {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #4caf50;
  color: black;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border: solid 4px black; */
}

.start-screen button:hover {
  background-color: #45a049;
}

@media (max-width: 500px) {
  .start-screen h1 {
    font-size: 2rem;
  }

  .start-screen label {
    font-size: 1rem;
  }

  .start-screen select,
  .start-screen input {
    width: 100%;
  }
}

footer{
  position: absolute;
  margin-top: 32px;
  background-color: black;
  width: 100vw;
  bottom: 0;
  figure{
    display: flex;
    align-items: center;
    justify-content: center;
    img.logoEdu{
      width: 300px;
      height: fit-content;
    }

  }
  p{
    color: white;
  }
}